.result-container {
    max-width: 35%;
    margin: 0 auto;
    border: solid 1px #00ffe0;
}

.result-info-2 {
    margin-bottom: var( --standard-margin );
}

@media only screen and (max-width: 600px) {
    .result-container {
      max-width: 60%;
    }
  }